/* Table CSS */

/* Page Heading */
.page-heading {
	font-size: 24px;
	font-weight: 600;
	margin-bottom: 20px;
}

/* Add Company Button */
.btn-primary {
	margin: 0 10px;
	background-color: var(--color-primary);
	color: var(--color-bg);
	padding: 10px 15px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

/* Modal */
.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 15;
	backdrop-filter: blur(1.5px);
}

.modal-dialog {
	max-width: 700px;
	width: 100%;
	max-height: calc(100vh - 8rem);
	overflow-y: auto; /* enable vertical scrolling if content exceeds the height */
	display: flex;
	flex-direction: column;
	background-color: var(--color-primary);
	border-radius: 5px;
	padding: 12.5px;
}

.modal-content {
	width: 100%;
}

/* Add styling for the close button if needed */
.modal-close-button {
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	color: white;
	font-size: 1.5rem;
}

.ag-theme-quartz {
	width: 100%;
	margin-top: 20px;
	height: 60vh;
	filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.4));
	display: block;

	--ag-foreground-color: var(--color-white);
	--ag-background-color: transparent;
	--ag-header-foreground-color: var(--color-primary);
	--ag-header-background-color: var(--color-bg);
	--ag-odd-row-background-color: var(--color-bg);
	--ag-header-cell-hover-background-color: var(--color-bg-variant);
	--ag-header-cell-moving-background-color: var(--color-primary-variant);
	--ag-font-family: cursive;
	--ag-selected-row-background-color: var(--color-primary-variant);
	--ag-range-selection-border-color: var(--color-primary);
	--ag-range-selection-border-style: dashed;
	--ag-row-border-style: dotted;
	--ag-row-border-width: 1px;
	--ag-row-border-color: var(--color-primary);
	--ag-font-size: 14px;
	--ag-row-hover-color: var(--color-primary-variant);
	--ag-cell-horizontal-border: 1px dotted var(--color-primary);
	--ag-header-column-resize-handle-color: var(--color-primary);
	--ag-cell-horizontal-padding: 10px;
}

.ag-theme-quartz .ag-header-group-cell {
	font-size: 16px;
}
.ag-theme-quartz .ag-header-cell {
	font-size: 15px;
}

.btn--icon--del {
	background-color: transparent;
	color: red;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	aspect-ratio: 1/1;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 4px;
}

.btn--icon--del:hover {
	background-color: red;
	color: var(--color-bg);
}

.btn--icon--edit {
	background-color: transparent;
	color: var(--color-primary);
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	aspect-ratio: 1/1;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 4px;
}

.btn--icon--edit:hover {
	background-color: var(--color-primary);
	color: var(--color-bg);
}
