/* Form */
.company-form {
	display: flex;
	flex-direction: column;
	gap: 7.5px;
	text-align: center;
	width: 100%;
	max-width: 700px;
	background: var(--color-bg);
	padding: 20px;
	border-radius: 1rem;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
	border: 1px solid var(--color-primary);
}

.input-group-out {
	display: flex;
	flex-direction: column;
	gap: 5px;
	text-align: center;
	width: 100%;
}

.input-group {
	display: flex;
	flex-direction: row;
	gap: 5px;
	width: 100%;
}

.form-group {
	display: flex;
	flex-direction: row;
	gap: 10px;
	align-items: center;
	justify-content: center;
	background-color: var(--color-bg-variant);
	padding: 8px;
	border-radius: 5px;
	width: 100%;
	text-wrap: nowrap;
}

.form-group input,
.form-group select,
.form-group textarea {
	flex: 1 1 auto;
	padding: 5px 10px;
	border: none;
	border-radius: 5px;
	background-color: var(--color-bg);
	color: var(--color-primary);
	font-weight: 600;
	width: 100%;
}

.form-group textarea {
	resize: none;
	height: 30px;
}

.form-group label {
	font-size: 13px;
	font-weight: 600;
	max-width: fit-content;
	flex: 0 0 100px;
	text-align: right;
	font-weight: 600;
}

.company-form__buttons {
	display: flex;
	flex-direction: row;
	gap: 5px;
	justify-content: center;
	width: 100%;
	margin-top: 10px;
}

@media screen and (max-width: 600px) {
	.input-group {
		flex-direction: column;
		gap: 5px;
	}
}
