.btn-group {
	display: flex;
	flex-direction: row;
	gap: 5px;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.btn--icon--del,
.btn--icon--edit {
	background-color: transparent;
	display: flex;
	align-items: center;
	justify-content: center;
	height: calc(100% - 2px);
	aspect-ratio: 1/1;
	border: none;
	border-radius: 0.5rem;
	cursor: pointer;
	margin: 1px 0;
	transition: all 0.3s ease-in-out;
}

.btn--icon--del {
	color: red;
}

.btn--icon--del:hover {
	background-color: red;
	color: var(--color-bg);
}

.btn--icon--edit {
	color: var(--color-primary);
}

.btn--icon--edit:hover {
	background-color: var(--color-primary);
	color: var(--color-bg);
}
