{
	"semi": true,
	"singleQuote": true,
	"tabWidth": 2,
	"useTabs": true,
	"printWidth": 150,
	"trailingComma": "none",
	"bracketSpacing": true,
	"arrowParens": "always",
	"endOfLine": "auto",
	"jsxSingleQuote": false,
	"quoteProps": "as-needed",
	"proseWrap": "always",
	"htmlWhitespaceSensitivity": "css",
	"vueIndentScriptAndStyle": true,
	"embeddedLanguageFormatting": "auto",
	"plugins": ["prettier-plugin-organize-imports"]
}
