{
	"semi": true,
	"singleQuote": true,
	"tabWidth": 2,
	"useTabs": true,
	"printWidth": 120,
	"trailingComma": "all",
	"bracketSpacing": true,
	"arrowParens": "always",
	"endOfLine": "auto",
	"jsxSingleQuote": false,
	"jsxBracketSameLine": false,
	"quoteProps": "as-needed",
	"proseWrap": "always",
	"htmlWhitespaceSensitivity": "css",
	"vueIndentScriptAndStyle": true,
	"embeddedLanguageFormatting": "auto"
}
