.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 15;
	backdrop-filter: blur(1.5px);
}

.modal-dialog {
	width: 100%;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.experience-form {
	display: flex;
	flex-direction: column;
	gap: 7.5px;
	text-align: center;
	width: 100%;
	max-width: 900px;
	background: var(--color-bg);
	padding: 20px;
	border-radius: 1rem;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
	border: 1px solid var(--color-primary);
}

.experience-form-group {
	display: flex;
	flex-direction: column;
	gap: 5px;
	width: 100%;
	text-align: left;
	padding: 10px;
	border-radius: 5px;
	background: var(--color-bg-variant);
}

.experience-form-group label {
	font-size: 1rem;
	width: 100%;
}

.experience-form-group input,
.experience-form-group textarea {
	width: 100%;
	padding: 10px;
	font-size: 1.2rem;
	border: 1px solid var(--color-primary);
	border-radius: 5px;
	background: var(--color-bg);
	color: var(--color-primary);
}

.experience-form-group textarea {
	resize: vertical;
	min-height: 300px;
}

.modal-buttons {
	display: flex;
	gap: 10px;
	justify-content: center;
	margin-top: 10px;
}

.experience-container {
	display: flex;
	flex-direction: row;
	width: 100%;
	border-radius: 1rem;
	overflow-y: auto;
	gap: 10px;
	align-items: center;
	height: 100%;
	padding: 10px;
}

.experience-left,
.experience-mid,
.experience-right {
	display: flex;
	flex-direction: column;
	gap: 10px;
	border-radius: 1rem;
	background: var(--color-bg-variant);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	border: 5px solid var(--color-bg);
	height: 100%;
	overflow-y: auto;
	padding: 10px;
	align-items: center;
}

.experience-left,
.experience-right {
	width: 20%;
	gap: 20px;
}

.experience-mid {
	width: 100%;
	background: var(--color-bg);
}

.experience-item {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 10px;
	border-radius: 1rem;
	background: var(--color-bg-variant);
	border: 5px solid var(--color-bg);
	width: 100%;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.experience-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.experience-header h3 {
	font-size: 1.1rem;
}

.experience-header div {
	display: flex;
	gap: 10px;
	color: var(--color-light);
}

.experience-item button {
	background: transparent;
	border: none;
	color: var(--color-white);
	font-size: 1.3rem;
	cursor: pointer;
	text-align: left;
}

.experience-item button:hover {
	color: var(--color-primary);
}

.experience-item-tags {
	display: flex;
	flex-wrap: wrap;
	gap: 5px;
}

.experience-item-tag {
	font-size: 0.9rem;
}

.modal {
	padding: 20px;
}

.view-modal-dialog {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	width: 100%;
	max-width: 900px;
	background: var(--color-bg);
	border-radius: 1rem;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
	/* height: 100%; */
	border: 5px solid var(--color-bg);
}

.experience-view {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 100%;
	padding: 20px;
	background: var(--color-bg-variant);
	height: 100%;
	overflow-y: scroll;
	border-radius: 1rem;
}

.experience-content {
	overflow-y: scroll;
	background: var(--color-bg);
	padding: 20px;
	border-radius: 1rem;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	border: 5px solid var(--color-bg-variant);
	max-height: 60vh;
}

.experience-filters {
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: center;
}

.experience-tag-all {
	font-size: 1.2rem;
}

.experience-tag-all,
.experience-tag {
	background: var(--color-bg-variant);
	color: var(--color-white);
	cursor: pointer;
}

.experience-tag-all:hover,
.experience-tag:hover {
	color: var(--color-primary);
}

.experience-tag.active,
.experience-tag-all.active {
	color: var(--color-primary);
}
