/* CompanyCard.css */

.company-card {
	background-color: var(--color-bg);
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	margin: 20px;
	width: 100%;
	max-width: 800px;
}

.company-card__header {
	background-color: var(--color-primary);
	color: var(--color-bg);
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	padding: 15px;
	margin-bottom: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.company-card__header__text {
	margin: 0;
}

.company-card__header__buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.company-card__header__buttons button {
	margin-left: 10px;
}

/* Uncomment the following styles if you want the status section */
/*
    .company-card__header__status {
      margin-top: 10px;
    }
    
    .company-card__header__status__text {
      font-weight: bold;
      margin-right: 5px;
    }
    
    .company-card__header__status__value {
      color: #27ae60; 
    }
    */

.company-card__body {
	padding: 15px;
	display: flex;
	flex-direction: column;
	gap: 15px;
	width: 100%;
}

.company-card__cutoff {
	display: flex;
	flex-direction: row;
	gap: 10px;
	justify-content: flex-start;
	background-color: var(--color-bg-variant);
	padding: 15px;
	border-radius: 5px;
	width: 100%;
}

.company-card__details {
	display: flex;
	flex-direction: row;
	gap: 10px;
	justify-content: space-between;
	height: 100%;
}

.company-card__offer,
.company-card__selects {
	margin-bottom: 10px;
	background: var(--color-bg-variant);
	padding: 15px;
	border-radius: 5px;
	width: 100%;
}

.company-card__cutoff__item {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.company-card__offer__item,
.company-card__selects__item {
	margin-bottom: 10px;
}

.company-card__cutoff__heading {
	font-size: 18px;
	font-weight: bold;
	color: var(--color-primary);
}

.company-card__offer__heading,
.company-card__selects__heading {
	font-size: 18px;
	font-weight: bold;
	color: var(--color-primary);
	margin-bottom: 10px;
}

.company-card__cutoff__label,
.company-card__offer__label,
.company-card__selects__label {
	font-weight: bold;
	margin-right: 5px;
}

.company-card__cutoff__item span,
.company-card__offer__item span,
.company-card__selects__item span {
	color: #555555;
}

.company-card__cutoff__item span.company-card__cutoff__label,
.company-card__offer__item span.company-card__offer__label,
.company-card__selects__item span.company-card__selects__label {
	color: #3498db;
}

.company-card__cutoff__item span.company-card__cutoff__label + span,
.company-card__offer__item span.company-card__offer__label + span,
.company-card__selects__item span.company-card__selects__label + span {
	margin-left: 5px;
}

.company-card__offer__subitem,
.company-card__selects__subitem {
	margin-left: 15px;
}

.company-card__offer__sublabel,
.company-card__selects__sublabel {
	font-weight: bold;
	margin-right: 5px;
}

.btn-edit {
	background-color: var(--color-bg-variant);
	color: var(--color-primary);
	border: none;
	border-radius: 5px;
	padding: 5px 10px;
	font-size: 16px;
	font-weight: 600;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.btn-edit:hover {
	background-color: var(--color-bg);
	color: var(--color-primary);
}

.btn-danger {
	background-color: red;
	color: var(--color-bg);
	border: none;
	border-radius: 5px;
	padding: 5px 10px;
	font-size: 16px;
	font-weight: 600;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.btn-danger:hover {
	background-color: var(--color-bg);
	color: red;
}
