.ag-theme-quartz {
	width: 100%;
	filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.4));
	border: 10px solid var(--color-bg);
	border-radius: 1rem;

	--ag-foreground-color: var(--color-white);
	--ag-background-color: transparent;
	--ag-header-foreground-color: var(--color-primary);
	--ag-header-background-color: var(--color-bg);
	--ag-odd-row-background-color: var(--color-bg);
	--ag-borders: 3px solid;
	--ag-border-color: var(--color-primary);
	--ag-wrapper-border-radius: 0.5rem;
	--ag-header-cell-hover-background-color: var(--color-bg-variant);
	--ag-header-cell-moving-background-color: var(--color-primary-variant);
	--ag-font-family: cursive;
	--ag-selected-row-background-color: var(--color-primary-variant);
	--ag-range-selection-border-color: var(--color-primary);
	--ag-range-selection-border-style: dashed;
	--ag-row-border-style: dotted;
	--ag-row-border-width: 1px;
	--ag-row-border-color: var(--color-primary);
	--ag-font-size: 14px;
	--ag-row-hover-color: var(--color-primary-variant);
	--ag-cell-horizontal-border: 1px dotted var(--color-primary);
	--ag-header-column-resize-handle-color: var(--color-bg);
	--ag-cell-horizontal-padding: 7.5px;
}

.ag-header-cell,
.ag-header-group-cell-with-group {
	border-right: 1px solid var(--ag-border-color);
	align-items: center;
	justify-content: center;
}
